@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";

aside {
    .block-content {
        #gradient > .directional(fadeout(@grayLight, 70%), fadeout(@grayLight, 100%), -45deg);
        #border-gradient > .left-to-right(1px 0 0 0, @grayLighter, fadeout(@grayLighter, 100%));
    }
}

.block-type-mainstory {
    position: relative;
    margin: 20px 0;
    &.full-size {
        a {
            .overlay {
                position: absolute;
                bottom: 10px;
                left: 0;
                font-weight: 300;
                .attribute-author {
                    color: @white;
                    font-size: 18px;
                    display: block;
                    margin: 0 10px;
                }
                h2 {
                    display: block;
                    margin: 0 10px;
                    color: @white;
                    line-height: 1.5;
                }
            }
            &:hover,
            &:focus {
                text-decoration: none;
                .overlay {
                    .attribute-author,
                    h2 {
                        text-decoration: none;
                        color: @orange;
                    }
                }
            }
        }
    }
}

.block-type-2items {
    article {
        display: block;
        a.teaser-link {
            display: block;
            padding-bottom: 8px;
        }
        h3 {
            font-weight: 300;
        }
    }
    .attribute-short {
        font-weight: 300;
    }
}

.item-list {
    .block-content {
        padding: 10px 20px;
    }
}
