//
// Layouts
// Fixed-width and fluid (with sidebar) layouts
// --------------------------------------------


// Container (centered, fixed-width layouts)
.container {
  .container-fixed();
}

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.container-fluid {
  padding-left: @gridGutterWidth;
  padding-right: @gridGutterWidth;
  .clearfix();
}

header,
header > .container {
	min-height: 111px;
}

header {
	#gradient > .horizontal(white, rgba(242, 243, 243, 1));
}

header > .container {
	background: transparent url('../img/bgr_header.png') no-repeat left bottom;
}

header .logo {
	display: block;
	width: 138px;
	height: 46px;
	margin-top: 18px;
}

header .form-search {
	margin-top: 27px;
}

header .form-search label {
	position: relative;
	&:before {
		content: "";
		display: block;
		width: 13px;
		height: 13px;
		position: absolute;
		top: 9px;
		left: 8px;
		.sprite();
	}
	input.search-query {
		padding-left: 25px;
		&:focus {
			.placeholder(transparent);
		}
	}
}