//
// Layouts
// Fixed-width and fluid (with sidebar) layouts
// --------------------------------------------


// Container (centered, fixed-width layouts)
.container {
  .container-fixed();
}

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.container-fluid {
  padding-left: @gridGutterWidth;
  padding-right: @gridGutterWidth;
  .clearfix();
}

header,
header > .container {
	min-height: 111px;
}

header {
	#gradient > .horizontal(white, rgba(242, 243, 243, 1));
}

header > .container {
	background: transparent url('../img/bgr_header.png') no-repeat left bottom;
}